<!-- Start -->
<div class="body" style="width:50%;height:50%;margin-top:10%;margin-left:25%;">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Header start -->
                <div class="card-header">
                    <strong>Register</strong>
                </div>
                <!-- Header end -->
                <form [formGroup]="form">
                    <!-- Body start -->
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <!-- Phone Number start -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Phone Number </label><span>*</span>
                                        <input class="form-control" type="number" formControlName="phone"
                                            placeholder="Phone" />
                                        <div class="error"
                                            *ngIf="this.form.get('phone')?.touched !! && this.form.get('phone')?.errors">
                                            Phone Number Required
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-sm btn-primary" (click)="otpGenerate(form.value.phone)">
                                            Generate OTP
                                        </button>                                 
                                    </div>
                                </div>
                                <!-- Phone Number end -->
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <!-- otp start -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>OTP</label><span>*</span>
                                        <input class="form-control" type="number" formControlName="otp"
                                            placeholder="OTP" />
                                        <div class="error"
                                            *ngIf="this.form.get('otp')?.touched !! && this.form.get('otp')?.errors">
                                            OTP Required
                                        </div>
                                    </div>
                                </div><br>
                                <!--Otp end -->  
                                <div class="row">
                                    <div class="col-md-12">                                      
                                        <button class="btn btn-sm btn-success" (click)="resendOtp(form.value.phone)">
                                            Resend OTP
                                        </button>
                                    </div>
                                </div>                             
                            </div>
                            <!-- Password start -->
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Password </label><span>*</span>
                                        <input type="password" class="form-control" formControlName="password"
                                            placeholder="Password" />
                                        <div class="error"
                                            *ngIf="this.form.get('password')?.touched !! && this.form.get('password')?.errors">
                                            Password Required
                                        </div>
                                    </div>
                                </div><br>
                                <!-- Password end -->                               
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Body end -->
                <!-- Footer start -->
                <div class="card-footer">
                    <div style="margin-left:75%">
                        <button class="btn btn-sm btn-primary" (click)="onSubmit(form.value)">
                            Reset Passowrd
                        </button> &nbsp;
                        <button class="btn btn-sm btn-danger" [routerLink]="['/login']">
                            Back
                        </button>
                    </div>
                </div>
                <!-- Footer end -->
            </div>
        </div>
    </div>
</div>
<!-- End -->